/* custom_admin_styles.css */
body {
    background-color: hsl(180, 2%, 20%)
}
.flask-admin .container {
    margin: 0px; 
    padding: 0px; 
    background-color: #1B3255;
}
.flask-admin .sidebar {
    margin: 10px;
    padding: 10px; 
}
/* Make the navbar vertical */
.flask-admin .navbar-nav {
    display: flex;
    flex-direction: column;
}