.table-box {
    background-color: white;
    border-radius: 6px;
}
.header-table {
    color: white;
    background-color: #1B3255;
}
.icon {
    color: black;
    text-decoration: inherit;
    justify-items: center;
}
.btn-user {
    color: white;
    background-color: #1B3255;
    border-radius: 6px;
}
.link-user {
    color: #1B3255;
    text-decoration: inherit;
}
.link-user:hover {
    color: #056FAA;
    font-weight: 500;
}